.person {
    color: blue;
    font: Courier;
    font-size: xx-large;
    text-align: left;
}
.tile {

    border: 5px solid green;
    display: inline-block;
    height: 600px;
    width: 600px;
}

.card {
    border: 3px solid red;
    display: inline-block;
    background-color: red;
    height:50px;
    width: 50px;
}

.hovered-tile {
    background-color: cornflowerblue;
}

.card.ui-draggable-disabled {
    border: 3px solid yellow;
    background-color: yellow;
}